x-test-table table {
    border-spacing: 3px;
    color: rgb(99, 182, 255);
}

x-test-table th {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
}

x-test-table td {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

x-test-table .success {
    color: var(--text-color);
}

x-test-table .failure {
    color: var(--error-color);
}