x-bucket-list .title {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

x-bucket-list .body {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: var(--color-bg-raised);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

x-bucket-list ol {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-inline-start: 1rem;
}

x-bucket-list li {
    padding-bottom: 0.25rem;
}

x-bucket-list .button {
    margin-left: 0.5rem;
    align-items: center;
    padding: 2px 10px;
    border-radius: 6px;
    border: none;

    font-size: 0.7rem;
    font-weight: 700;

    background: #6E6D70;
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

x-bucket-list .button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
 x-bucket-list .green {
    background: #33a916;
    color: black;
 }