:root {
    --font-system: system-ui, sans-serif;
    --font-system-code: font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;


    --background-color: rgb(37, 37, 36);
    --text-color: rgb(156, 248, 100);
    --link-color: rgb(68, 177, 255);

}